*
{
	margin:0;
	padding:0;
        font-family: "Times New Roman", Times, serif;
}

/*body*/
body
{
	overflow-y: scroll;
	overflow-x: hidden;
        
}

h3{
    text-shadow: 2px 1px grey;
}

/*headers*/
.header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/1.jpg);
	height:80vh;
	background-position:center;
	background-size:cover;
}

.header2
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/6.jpeg);
	height:40vh;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}


/*navbar*/
.navbar{
	background-color:white;
}

.navbar-brand {
font-family: "Brush Script MT", "Brush Script Std", cursive;
}

.navbar .navbar-nav .active{
	border-bottom:1px solid  white;
}

.navbar .navbar-nav .nav-item a{
	color:#3A3B3B;
}

.navbar .navbar-nav .nav-item a:hover{
	background-color: #d1c8c8;
	color:black;
}

.navbar .navbar-nav  li a{
}



.header-button .btn{
    
margin-top:40vh;
}


.row {
  margin: 15px;
}

.nav-link {
	cursor:pointer;
}

/*footer*/
.footer{
padding-top:30px;
padding-bottom:30px;
color:black;
}

.social-icon a{
	margin:0 16px 20px 16px;
	display:inline-block;
}

.social-icon .fa{

	color:black;
	width:50px;
	height:50px;
	border-radius:50%;
	background:lightgray;
	line-height: 2;
	transition: .3s;
	border:10px solid lightgray;
}

.social-icon a:hover .fa{
	border:10px solid black;
}

.bordernow{
	width:80px;
	border-bottom:2px solid white;
	margin:0 auto;
	margin-top:20px;
}



